

html,body{
    height: 100%;
    background-color: #f9fbff;
    padding: 0 !important;
}
textarea {
    font-family: inherit;
}
a {
    text-decoration:none;
    color: inherit;
}
#bear {
    height: 100%;
}

.el-dialog__wrapper {
    .el-dialog {
        background: var(--bgColor);
        .el-dialog__header {
            background: var(--theme);
            display: none;
        }
        .el-dialog__body {
            padding: 20px;
            height: 100%;
            .el-page-header {
              padding: 0 20px;
              color: #fff;
              .el-page-header__left {
                min-width: 60px;
              }
              .el-page-header__content {
                color: var(--theme);
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
              }
            }
        }
    }
}